.header{
    font-weight: 300;
    font-size: 14px;
    color: rgb(98, 98, 98, 255);
    width: 910px;
    text-align: center;
    margin: 0 auto 103px auto;
} 



.menu{
    font-family: 'Playfair Display', serif;
    
}

.menu_list{}

.menu_list_item{
   list-style: none;
   display: inline-block;
   margin-right: 60px;

}

.menu_list_item_link{
    text-decoration: none;
    text-transform: uppercase;
    color: #7c7c7c;
    font-weight: 400; 
}

.menu_list_item_link:hover{
    color: #03a9f4;
}